{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Postgresql": "Server=localhost;Port=5432;Database=test;User Id=test;Password=test;"
  },
  "JwtSettings": {
	"Secret": "arhfsdoifn1548!sqkofhsqdfiusdqhfiqhfiuqsgbfuqjys154648azopu!kldsqhj",
	"Issuer": "NotNamedIssuer",
	"Audience": "NotNamedAudience",
	"ExpirationMinutes": 60
  },
  "AllowedHosts": "*"
}
